.mat-card{
    width: 600px;
    margin-top: 33px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    //margin: auto;
}

.mat-card .full-width {
    width: 100%;
}

.mat-card .mat-card-actions {
    display: block;
    text-align: right;
}