.mat-card {
    height: 500px;
    width: 290px;
    margin: auto;
}

.mat-card-actions {
    display: flex;
}

.mat-card-actions .flex-spacer {
    width: 100%;
}


.mat-card-image{
    width: 100%;
    height: 65%;
}

