<mat-drawer-container class="container" autosize>
    <mat-drawer  #drawer class="sidenav">
      <button color="primary" mat-button routerLink="/productsList">Phones</button>
      <button color="primary" mat-button routerLink="">Phone Accessories</button>
      <button color="primary" mat-button routerLink="">Smart Watches</button>
      <button color="primary" mat-button routerLink="">Smart Watch Accessories</button>
      <button color="primary" mat-button routerLink="">PDAs</button>
      <button color="primary" mat-button routerLink="">PDA Accessories</button>
      <button color="primary" mat-button routerLink="">Phone Parts</button>
    </mat-drawer>
    <div class="sidenav-content">
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <button mat-icon-button *ngIf="currentUser" (click)="drawer.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <span>BuyAnyPhone</span>
            <mat-icon>stay_primary_portrait</mat-icon>
            <span class="spacer"></span>
            <button *ngIf ="!currentUser" color="" mat-button routerLink="/login-new">Login</button>
            <button *ngIf ="isAdmin()" color="" mat-button routerLink="/usersList">Admin</button>
            <button *ngIf ="currentUser" (click)= "logout()" color="" mat-button routerLink="/login-new">Logout</button>
            <button *ngIf ="!currentUser" color="" mat-button routerLink="/register">Sign Up</button>
            <button mat-icon-button *ngIf="currentUser" [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu  #menu="matMenu">
              <button mat-menu-item disabled>
                <mat-icon>shopping_cart</mat-icon>
                <span>Cart</span>
              </button>
            </mat-menu>
          </mat-toolbar-row>
        </mat-toolbar>
     </div>
     <router-outlet></router-outlet>
    </mat-drawer-container>
    

