.mat-button {
    display: block;
    width: 100%;
    margin: auto;
    max-width: 300px;
    text-align: center;
}

.buttons {
    display: inline;
}

.delButton {
    background-color: red;
    color: white;
    margin-top: 10px;
}

.editButton {
    background-color: lightblue;
    
    margin-top: 10px;
}